<?xml version="1.0"?>
<config>
    <modules>
       <ECGiken_Gmo>
          <version>0.1.4</version>
       </ECGiken_Gmo>
    </modules>
    <global>
        <models>
            <ecggmo>
                <class>ECGiken_Gmo_Model</class>
            </ecggmo>
        </models>
        <blocks>
            <ecggmo>
                <class>ECGiken_Gmo_Block</class>
            </ecggmo>
        </blocks>
        <helpers>
            <ecggmo>
                <class>ECGiken_Gmo_Helper</class>
            </ecggmo>
        </helpers>
        <resources>
            <ecggmo_setup>
                <setup>
                    <module>ECGiken_Gmo</module>
                    <class>ECGiken_Gmo_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecggmo_setup>
            <ecggmo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecggmo_write>
            <ecggmo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecggmo_read>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <gmo_access_id>
                    <to_order_payment>*</to_order_payment>
                </gmo_access_id>
                <gmo_access_pass>
                    <to_order_payment>*</to_order_payment>
                </gmo_access_pass>
                <gmo_approve>
                    <to_order_payment>*</to_order_payment>
                </gmo_approve>
                <gmo_tran_id>
                    <to_order_payment>*</to_order_payment>
                </gmo_tran_id>
                <gmo_order_id>
                    <to_order_payment>*</to_order_payment>
                </gmo_order_id>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <gmo>
                <use>standard</use>
                <args>
                    <module>ECGiken_Gmo</module>
                    <frontName>gmo</frontName>
                </args>
            </gmo>
        </routers>
        <translate>
            <modules>
                <ECGiken_Gmo>
                    <files>
                        <default>ECGiken_Gmo.csv</default>
                    </files>
                </ECGiken_Gmo>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ECGiken_Gmo>
                    <files>
                        <default>ECGiken_Gmo.csv</default>
                    </files>
                </ECGiken_Gmo>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ecggmo translate="title" module="ecggmo">
                                            <title>GMO Payment Module</title>
                                        </ecggmo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ecggmo>
            <ecggmo_common>
                <module_conf_dir>lib/conf</module_conf_dir>
            </ecggmo_common>
        </ecggmo>
        <payment>
            <ecggmo_cc>
                <model>ecggmo/cc_paymentMethod</model>
                <active>0</active>
                <title>Credit Card (GMO)</title>
                <cctypes>VI,MC,JCB,AE,DI</cctypes>
                <payment_action>authorize_capture</payment_action>
                <can_use_internal>0</can_use_internal>
                <debug>0</debug>
                <test>0</test>
                <sort_order>100</sort_order>
            </ecggmo_cc>
        </payment>
    </default>
</config>
