<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <seo>
                    <fields>
                        <product_use_categories>
                            <comment>Cache refresh needed.</comment>
                        </product_use_categories>
                    </fields>
                </seo>
            </groups>
        </catalog>
    </sections>
</config>
