<?xml version="1.0" encoding="UTF-8"?>
<!--
 * ECGikenJp_JapanSpecific
 *
 * Copyright (c) 2011, EC-GIKEN Inc.
 * All rights reserved.
-->
<config>
    <modules>
        <ECGikenJp_JapanSpecific>
            <version>0.9.21</version>
        </ECGikenJp_JapanSpecific>
    </modules>
    <global>
        <models>
            <japanspecific>
                <class>ECGikenJp_JapanSpecific_Model</class>
            </japanspecific>
        </models>
        <helpers>
            <japanspecific>
                <class>ECGikenJp_JapanSpecific_Helper</class>
            </japanspecific>
        </helpers>
        <resources>
            <japanspecific_setup>
                <setup>
                    <module>ECGikenJp_JapanSpecific</module>
                    <class>ECGikenJp_JapanSpecific_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </japanspecific_setup>
            <japanspecific_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </japanspecific_write>
            <japanspecific_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </japanspecific_read>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <ECGikenJp_JapanSpecific>
                    <files>
                        <default>ECGikenJp_JapanSpecific.csv</default>
                    </files>
                </ECGikenJp_JapanSpecific>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ECGikenJp_JapanSpecific>
                    <files>
                        <default>ECGikenJp_JapanSpecific.csv</default>
                    </files>
                </ECGikenJp_JapanSpecific>
            </modules>
        </translate>
    </adminhtml>
</config>
