<?xml version="1.0" encoding="UTF-8"?>
<!--
 * ECGikenJp_L10N
 *
 * Copyright (c) 2011, EC-GIKEN Inc.
 * All rights reserved.
-->
<config>
    <modules>
        <ECGikenJp_L10N>
            <version>0.9.21</version>
        </ECGikenJp_L10N>
    </modules>
    <global>
        <models>
            <ecgjpl10n>
                <class>ECGikenJp_L10N_Model</class>
            </ecgjpl10n>
            <sales>
                <rewrite>
                    <order_api>ECGikenJp_L10N_Model_Sales_Order_Api</order_api>
                    <order_api_v2>ECGikenJp_L10N_Model_Sales_Order_Api_V2</order_api_v2>
                </rewrite>
            </sales>
            <reports_resource>
                <rewrite>
                    <order_collection>ECGikenJp_L10N_Model_Reports_Resource_Order_Collection</order_collection>
                    <quote_collection>ECGikenJp_L10N_Model_Reports_Resource_Quote_Collection</quote_collection>
                    <customer_orders_collection>ECGikenJp_L10N_Model_Reports_Resource_Customer_Orders_Collection</customer_orders_collection>
                    <review_customer_collection>ECGikenJp_L10N_Model_Reports_Resource_Review_Customer_Collection</review_customer_collection>
                </rewrite>
            </reports_resource>
        </models>
        <helpers>
            <ecgjpl10n>
                <class>ECGikenJp_L10N_Helper</class>
            </ecgjpl10n>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <api_role_grid_user>ECGikenJp_L10N_Block_Adminhtml_Api_Role_Grid_User</api_role_grid_user>
                    <api_user_grid>ECGikenJp_L10N_Block_Adminhtml_Api_User_Grid</api_user_grid>
                    <catalog_product_edit_tab_alerts_price>ECGikenJp_L10N_Block_Adminhtml_Catalog_Product_Edit_Tab_Alerts_Price</catalog_product_edit_tab_alerts_price>
                    <catalog_product_edit_tab_alerts_stock>ECGikenJp_L10N_Block_Adminhtml_Catalog_Product_Edit_Tab_Alerts_Stock</catalog_product_edit_tab_alerts_stock>
                    <catalog_product_edit_tab_tag_customer>ECGikenJp_L10N_Block_Adminhtml_Catalog_Product_Edit_Tab_Tag_Customer</catalog_product_edit_tab_tag_customer>
                    <customer_online_grid>ECGikenJp_L10N_Block_Adminhtml_Customer_Online_Grid</customer_online_grid>
                    <newsletter_subscriber_grid>ECGikenJp_L10N_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                    <permissions_grid_user>ECGikenJp_L10N_Block_Adminhtml_Permissions_Grid_User</permissions_grid_user>
                    <permissions_role_grid_user>ECGikenJp_L10N_Block_Adminhtml_Permissions_Role_Grid_User</permissions_role_grid_user>
                    <permissions_user_grid>ECGikenJp_L10N_Block_Adminhtml_Permissions_User_Grid</permissions_user_grid>
                    <report_shopcart_customer_grid>ECGikenJp_L10N_Block_Adminhtml_Report_Shopcart_Customer_Grid</report_shopcart_customer_grid>
                    <report_tag_customer_grid>ECGikenJp_L10N_Block_Adminhtml_Report_Tag_Customer_Grid</report_tag_customer_grid>
                    <report_tag_popular_detail_grid>ECGikenJp_L10N_Block_Adminhtml_Report_Tag_Popular_Detail_Grid</report_tag_popular_detail_grid>
                    <system_convert_profile_edit_tab_history>ECGikenJp_L10N_Block_Adminhtml_System_Convert_Profile_Edit_Tab_History</system_convert_profile_edit_tab_history>
                    <tag_customer_grid>ECGikenJp_L10N_Block_Adminhtml_Tag_Customer_Grid</tag_customer_grid>
                    <tag_grid_customers>ECGikenJp_L10N_Block_Adminhtml_Tag_Grid_Customers</tag_grid_customers>
                    <review_edit_form>ECGikenJp_L10N_Block_Adminhtml_Review_Edit_Form</review_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <ecgjpl10n_setup>
                <setup>
                    <module>ECGikenJp_L10N</module>
                    <class>ECGikenJp_L10N_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecgjpl10n_setup>
            <ecgjpl10n_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecgjpl10n_write>
            <ecgjpl10n_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecgjpl10n_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <ecgjpl10n>
                <use>standard</use>
                <args>
                    <module>ECGikenJp_L10N</module>
                    <frontName>ecgjpl10n</frontName>
                </args>
            </ecgjpl10n>
        </routers>
        <layout>
            <updates>
                <ecgjpl10n module="ECGikenJp_L10N">
                    <file>ecgjp/l10n.xml</file>
                </ecgjpl10n>
            </updates>
        </layout>
        <translate>
            <modules>
                <ECGikenJp_L10N>
                    <files>
                        <default>ECGikenJp_L10N.csv</default>
                    </files>
                </ECGikenJp_L10N>
                <Mage_Connect>
                    <files>
                        <default>Mage_Connect.csv</default>
                    </files>
                </Mage_Connect>
                <Mage_ImportExport>
                    <files>
                        <default>ECGikenJp_ImportExport.csv</default>
                    </files>
                </Mage_ImportExport>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ecgjpl10n module="ECGikenJp_L10N">
                    <file>ecgjp/l10n.xml</file>
                </ecgjpl10n>
            </updates>
        </layout>
        <translate>
            <modules>
                <ECGikenJp_L10N>
                    <files>
                        <default>ECGikenJp_L10N.csv</default>
                    </files>
                </ECGikenJp_L10N>
                <Mage_Connect>
                    <files>
                        <default>Mage_Connect.csv</default>
                    </files>
                </Mage_Connect>
                <Mage_ImportExport>
                    <files>
                        <default>ECGikenJp_ImportExport.csv</default>
                    </files>
                </Mage_ImportExport>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sales_pdf>
            <fonts>
                <regular>TakaoFont/TakaoExMincho.ttf</regular>
                <bold>TakaoFont/TakaoExMincho.ttf</bold>
                <italic>TakaoFont/TakaoExMincho.ttf</italic>
            </fonts>
        </sales_pdf>
        <customer>
            <email_validation>
                <use_strict>1</use_strict>
            </email_validation>
        </customer>
    </default>
</config>
