<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <sales_pdf>
            <groups>
                <fonts translate="label" module="ecgjpl10n">
                    <label>Fonts</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <regular translate="label">
                            <label>Regular Font</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ecgjpl10n/config_salesPdf_fonts_selector</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </regular>
                        <bold translate="label">
                            <label>Bold Font</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ecgjpl10n/config_salesPdf_fonts_selector</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bold>
                        <italic translate="label">
                            <label>Italic Font</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ecgjpl10n/config_salesPdf_fonts_selector</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </italic>
                    </fields>
                </fonts>
            </groups>
        </sales_pdf>
        <customer>
            <groups>
                <email_validation translate="label" module="ecgjpl10n">
                    <label>Email Validation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <use_strict translate="label">
                            <label>Use Strict</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_strict>
                    </fields>
                </email_validation>
            </groups>
        </customer>
    </sections>
</config>
