<?xml version="1.0"?>
<config>
    <modules>
        <EM_Productsfilterwidget>
            <version>0.1.0</version>
        </EM_Productsfilterwidget>
    </modules>

	<frontend>
        <routers>
            <productsfilterwidget>
                <use>standard</use>
                <args>
                    <module>EM_Productsfilterwidget</module>
                    <frontName>productsfilterwidget</frontName>
                </args>
            </productsfilterwidget>
        </routers>
       
    </frontend>
	
	<admin>
        <routers>
			<productsfilterwidget>
				<use>admin</use>
				<args>
					<module>EM_Productsfilterwidget</module>
					<frontName>productsfilterwidget</frontName>
				</args>
			</productsfilterwidget>
        </routers>
    </admin>
	
	<adminhtml>
		<layout>
			<updates>
				<productsfilterwidget>
					<file>em_productsfilterwidget.xml</file>
				</productsfilterwidget>
			</updates>
		</layout>
		<menu>
			<productsfilterwidget module="productsfilterwidget">
				<title>productsfilterwidget</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="productsfilterwidget">
						<title>Flush All Widget Cache</title>
						<sort_order>0</sort_order>
						<action>productsfilterwidget/adminhtml_productsfilterwidget/flushcacheresult</action>
					</items>
				</children>
			</productsfilterwidget>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_NewsFeedWidget>
							<title>NewsFeedWidget Module</title>
							<sort_order>10</sort_order>
						</EM_NewsFeedWidget>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml> 
  
    <global>
        <models>
            <productsfilterwidget>
                <class>EM_Productsfilterwidget_Model</class>
                <resourceModel>productsfilterwidget_mysql4</resourceModel>
            </productsfilterwidget>
            <productsfilterwidget_mysql4>
                <class>EM_Productsfilterwidget_Model_Mysql4</class>
                <entities>
                    <productsfilterwidget>
                        <table>productsfilterwidget</table>
                    </productsfilterwidget>					
                </entities>
            </productsfilterwidget_mysql4>
        </models>
        <resources>
            <productsfilterwidget_setup>
                <setup>
                    <module>EM_Productsfilterwidget</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productsfilterwidget_setup>
            <productsfilterwidget_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productsfilterwidget_write>
            <productsfilterwidget_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productsfilterwidget_read>
        </resources>
        <blocks>
            <productsfilterwidget>
                <class>EM_Productsfilterwidget_Block</class>				
	    	</productsfilterwidget>
        </blocks>
        <helpers>
            <productsfilterwidget>
                <class>EM_Productsfilterwidget_Helper</class>
            </productsfilterwidget>
        </helpers>
    </global>
</config>