<?xml version="1.0"?>
<config>
    <modules>
        <IcebergCommerce_WidgetListProductsFiltered>
            <version>2.0.0</version>
        </IcebergCommerce_WidgetListProductsFiltered>
    </modules>
    <global>
        <helpers>
            <widgetlistproductsfiltered>
                <class>IcebergCommerce_WidgetListProductsFiltered_Helper</class>
            </widgetlistproductsfiltered>
        </helpers>
        <blocks>
             <widgetlistproductsfiltered>
                <class>IcebergCommerce_WidgetListProductsFiltered_Block</class>
             </widgetlistproductsfiltered>
        </blocks>
        <models>
             <widgetlistproductsfiltered>
                <class>IcebergCommerce_WidgetListProductsFiltered_Model</class>
             </widgetlistproductsfiltered>
        </models>
    </global>
</config> 
