<?xml version="1.0"?>
<config>
	<frontend>
		<translate>
			<modules>
				<wware_translate>
					<files>
						<default>wware_translate.csv</default>
					</files>
				</wware_translate>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<wware_translate>
					<files>
						<default>wware_translate.csv</default>
					</files>
				</wware_translate>
			</modules>
		</translate>
	</adminhtml>
</config>