<?xml version="1.0" encoding="UTF-8"?>
<!--
 * ECGikenJp_I18n
 *
 * Copyright (c) 2011, EC-GIKEN Inc.
 * All rights reserved.
-->
<config>
    <modules>
        <ECGikenJp_I18n>
            <version>0.9.20</version>
        </ECGikenJp_I18n>
    </modules>
    <global>
        <models>
            <core>
                <rewrite>
                    <design_package>ECGikenJp_I18n_Model_Design_Package</design_package>
                </rewrite>
            </core>
            <customer>
                <rewrite>
                    <customer>ECGikenJp_I18n_Model_Customer_Customer</customer>
                    <address>ECGikenJp_I18n_Model_Customer_Address</address>
                </rewrite>
            </customer>
            <customer_resource>
                <rewrite>
                    <customer_collection>ECGikenJp_I18n_Model_Customer_Resource_Customer_Collection</customer_collection>
                </rewrite>
            </customer_resource>
            <sales>
                <rewrite>
                    <order>ECGikenJp_I18n_Model_Sales_Order</order>
                    <quote_address>ECGikenJp_I18n_Model_Sales_Quote_Address</quote_address>
                    <order_address>ECGikenJp_I18n_Model_Sales_Order_Address</order_address>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <order>ECGikenJp_I18n_Model_Sales_Resource_Order</order>
                    <order_invoice>ECGikenJp_I18n_Model_Sales_Resource_Order_Invoice</order_invoice>
                    <order_shipment>ECGikenJp_I18n_Model_Sales_Resource_Order_Shipment</order_shipment>
                    <order_creditmemo>ECGikenJp_I18n_Model_Sales_Resource_Order_Creditmemo</order_creditmemo>
                </rewrite>
            </sales_resource>
        </models>
        <customer>
            <address>
                <formats>
                    <js_template translate="title" module="customer">
                        <title>JavaScript Template</title>
                    </js_template>
                    <name_template translate="title" module="customer">
                        <title>Full Name Text Template</title>
                    </name_template>
                    <name_sql translate="title" module="customer">
                        <title>Full Name SQL Template</title>
                    </name_sql>
                </formats>
            </address>
        </customer>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ECGikenJp_I18n>
                    <files>
                        <default>ECGikenJp_I18n.csv</default>
                    </files>
                </ECGikenJp_I18n>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <ECGikenJp_I18n>
                    <files>
                        <default>ECGikenJp_I18n.csv</default>
                    </files>
                </ECGikenJp_I18n>
            </modules>
        </translate>
    </frontend>
    <default>
        <customer>
            <address_templates>
                <name_template>{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}</name_template>
                <name_sql>lastname,firstname</name_sql>
            </address_templates>
        </customer>
    </default>
</config>
