<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <customer>
            <groups>
                <address_templates>
                    <fields>
                        <name_template translate="label">
                            <label>Full Name Text Template</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name_template>
                        <name_sql translate="label">
                            <label>Full Name SQL Template</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name_sql>
                    </fields>
                </address_templates>
            </groups>
        </customer>
    </sections>
</config>
