<?xml version="1.0"?>
<config>
    <modules>
        <Licentia_Ecms>
            <version>0.1.1</version>
        </Licentia_Ecms>
    </modules>
    <global>
        <helpers>
            <ecms>
                <class>Licentia_Ecms_Helper</class>
            </ecms>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <cms_page_grid>Licentia_Ecms_Block_Adminhtml_Page_Grid</cms_page_grid>
                    <cms_block_grid>Licentia_Ecms_Block_Adminhtml_Block_Grid</cms_block_grid>
                </rewrite>
            </adminhtml>
            <ecms>
                <class>Licentia_Ecms_Block</class>
            </ecms>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecms before="Mage_Adminhtml">Licentia_Ecms_Adminhtml</ecms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Licentia_Ecms>
                    <files>
                        <default>Licentia_Ecms.csv</default>
                    </files>
                </Licentia_Ecms>
            </modules>
        </translate>
    </adminhtml>
</config>