<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Amasty_Oaction>
            <version>1.0.0</version>
        </Amasty_Oaction>
    </modules>
    
    <admin>
        <routers>
            <amoaction>
                <use>admin</use>
                <args>
                    <module>Amasty_Oaction</module>
                    <frontName>amoaction</frontName>
                </args>
            </amoaction>
        </routers>
    </admin>
    
    <adminhtml>
        <events>
            <am_grid_massaction_actions>
                <observers>
                    <amoaction>
                        <type>singleton</type>
                        <class>Amasty_Oaction_Model_Observer</class>
                        <method>addNewActions</method>
                    </amoaction>
                </observers>
            </am_grid_massaction_actions>
            
            <am_grid_massaction_js>
                <observers>
                    <amoaction>
                        <type>singleton</type>
                        <class>Amasty_Oaction_Model_Observer</class>
                        <method>modifyJs</method>
                    </amoaction>
                </observers>
            </am_grid_massaction_js>            
        </events> 
            
        <translate>
            <modules>
                <Amasty_Oaction>
                    <files>
                        <default>Amasty_Oaction.csv</default>
                    </files>
                </Amasty_Oaction>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amoaction translate="title" module="amoaction">
                                            <title>Mass Order Actions</title>
                                        </amoaction>
                                    </children>
                                </config>
                            </children>
                        </system> 
                     </children>
                </admin> 
            </resources>
        </acl>
        <layout>
            <updates>
                <amoaction module="Amasty_Oaction">
                    <file>amoaction.xml</file>
                </amoaction>
            </updates>
        </layout>        
    </adminhtml>
    
    <global>
        <models>
            <amoaction>
                <class>Amasty_Oaction_Model</class>
                <resourceModel>amoaction_mysql4</resourceModel>
            </amoaction>
            <amoaction_mysql4>
                <class>Amasty_Oaction_Model_Mysql4</class>
            </amoaction_mysql4>
        </models>
        
		<resources>
             <amoaction_setup>
                <setup>
                    <module>Amasty_Oaction</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amoaction_setup>
		    <amoaction_write>
		        <connection><use>core_write</use></connection>
		    </amoaction_write>
		    <amoaction_read>
		        <connection><use>core_read</use></connection>
		    </amoaction_read>
		</resources>
		  
        <blocks>
            <amoaction>
                <class>Amasty_Oaction_Block</class>
            </amoaction>
            
            <adminhtml>
                <rewrite>
                    <widget_grid_massaction>Amasty_Oaction_Block_Adminhtml_Widget_Grid_Massaction</widget_grid_massaction>
                </rewrite>
            </adminhtml>
        </blocks>
        
        <helpers>
            <amoaction>
                <class>Amasty_Oaction_Helper</class>
            </amoaction>
        </helpers>
    </global>
    
    
    <default>
        <amoaction>
           <general>
                <commands></commands>
           </general>
           <invoice>
                <notify></notify>
                <status></status>
           </invoice>                     
           <capture>
                <notify></notify>
                <status></status>
           </capture>                     
           <ship>
                <notify></notify>
                <status></status>
                <carrier></carrier>
                <title></title>
           </ship> 
        </amoaction>
    </default>
    
</config>