<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright (c) 2010 Amasty
 */
-->
<config>
    <sections>
        <amoaction translate="label" module="amoaction">
            <label>Mass Order Actions</label>
            <tab>amasty</tab>
            <frontend_type>text</frontend_type>
            <sort_order>450</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <commands translate="label">
                            <label>Enabled Actions</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>amoaction/source_commands</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Press CTRL+mouse to select multiple values.]]></comment>
                        </commands>                          
                    </fields>                    
                </general>    
                
                <invoice translate="label">
                    <label>Invoice</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <notify translate="label">
                            <label>Notify Customer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>  
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notify>                    
                        <status translate="label">
                            <label>Assign Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amoaction/source_statuses</source_model> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                    </fields>
                </invoice>  
                
                <capture translate="label">
                    <label>Capture</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <notify translate="label">
                            <label>Notify Customer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>  
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notify>                    
                        <status translate="label">
                            <label>Assign Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amoaction/source_statuses</source_model> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                    </fields>
                </capture>
                 
                <ship translate="label">
                    <label>Ship</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <notify translate="label">
                            <label>Notify Customer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>  
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notify>                    
                        <status translate="label">
                            <label>Assign Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amoaction/source_statuses</source_model> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <carrier translate="label">
                            <label>Default Carrier</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amoaction/source_carriers</source_model> 
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Will be pre-selected at the orders grid]]></comment>                             
                        </carrier>
                        <title translate="label">
                            <label>Custom Carrier Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Will be shown in the carrires dropdown for the `custom` option]]></comment>                             
                        </title>                        
                    </fields>
                </ship>                 
            </groups>
        </amoaction>
    </sections>
</config>